body{
    background-color: #1D1128;
}
nav{
    background-color: #514F59;
}

.nav-item>a:hover{
    /* color: tomato; */
    background-color: #1D1128;
}

.card{
    border-radius: 2px;
}
/* .data-container{
    width: 100vw;
    height: 90.3vh;
    padding: 5px;
}

.totals{
    border: solid 2px black;
    padding: 0;
    height: 45px;
}

#confirmed_card, #deceased_card, #recovered_card{
    overflow: auto;
}

.card-header{
    background-color: transparent;
    text-align: center;
    color: #1D1128;
}

#confirmed_total, #deceased_total, #recovered_total{
    font-size: 40px;
    text-align: center;
    color: #1D1128;
}

#confirmed_card ul li span, #deceased_card ul li span, #recovered_card ul li span{
    float: right;
} */

#sl_today, #total_sl{
    font-size: 40px;
    text-align: center;
    color: #1D1128;
}

.row1{
    margin: 0;
}
/* ------ Scrollbar ------ */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
